<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425991135893-a4vbs2tv0uq1r0282j46lmvr30f331ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425991135893-a4vbs2tv0uq1r0282j46lmvr30f331ft</string>
	<key>API_KEY</key>
	<string>AIzaSyAmTt5Ep7cfF1kOEhn5fcfBUD4NRVQfqzM</string>
	<key>GCM_SENDER_ID</key>
	<string>425991135893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.williamroosevelt.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6ac20</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6ac20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425991135893:ios:1aa680eec2c42e565a719c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-6ac20.firebaseio.com</string>
</dict>
</plist>